.App {
    position: relative;
    display: flex;
    max-width: 100%;
    justify-content: center;
    min-height: 100vh; 
    overflow: hidden;
}

.App::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: radial-gradient(
            rgba(245, 96, 63, 0.484),
            rgba(137, 87, 255, 0.354)
        ),
        url("md_myjze9_aaab7ae6907dff0f240905491c135449085d2ed2.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.form {
    display: flex;
    position: relative;
    margin-top: 10px;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    z-index: 100;
    margin-bottom: 20px; 
}

.form > img {
    margin-bottom: 10px;
    max-width: 100%; 
    height: auto; 
}

.form .inputField {
    margin: 5px;
    border-radius: 15px;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #ffffff !important;
}

.form > button {
    background-color: rgba(38, 85, 254, 0.993);
    border: 2px solid transparent;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 600;
    max-width: 160px;
    margin-top: 10px;
    transition: box-shadow 0.3s ease, border 0.3s ease,
        background-color 0.3s ease;
    /* Initial box shadow */
    box-shadow: 0 2px 4px rgba(69, 67, 67, 0.579);
}

.form > button:hover {
    box-shadow: 0 4px 8px rgba(134, 126, 126, 0.645);
    border: 2px solid transparent;
    background-color: rgb(29, 23, 83);
}

.logos {
    display: flex;
    max-width: 100%;
    gap: 10px;  
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
}

#vssut,
#robo,
#rslogo {
    height: 8vh; 
}

@media only screen and (max-width: 780px) {
    .form {
        width: 95%;
        height: auto;
        font-size: 16px;
    }

    .logos {
        gap: 2px; 
    }

    #vssut {
        height: 6vh;  
    }

    #robo {
        height: 5vh;  
    }

    #rslogo {
        height: 6vh;  
    }
}
@media only screen and (min-width: 825px) {
    .form {
        width: 95%;
        height: auto;
        font-size: 16px;
    }

    .logos {
        gap: 2px; 
    }

    #vssut {
        height: 6vh;  
    }

    #robo {
        height: 5vh;  
    }

    #rslogo {
        height: 6vh;  
    }
}
